nav {
    background-color: #ffffff44;

    text-align: center;
}

nav ul {
    display: inline;
}

nav li {
    margin: 1rem;
    padding: rem;
    color: #31012f;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
}