body {
  background-image: url("./images/background.png");
  background-size: cover;
  background-attachment: fixed;
}

main {
  background: rgb(194, 148, 145, 0.5);
  background: linear-gradient(90deg, rgba(194,148,145,0.5) 0%, rgba(249,202,194,0.5) 50%, rgba(163,142,179,0.5) 100%);
}
